@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
section {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    padding: 5% 7% 5% 7%;
    text-align: justify;
}
h1 {
    font-size: 10vw;
    font-weight: 800;
    margin: 0px 0px;
    color: #DB4B4F;
}
h2 {
    font-size: 3vw;
    margin-top: 0px;
}
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: #6F7179;
}
a:hover {
    color: #AAAAAA;
}
#index-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#copyright {
    font-size: 0.75em;
    color: #CDCDCD;
    margin: 2vh 0px;
}